h1 {
    color:blue;
    
}
h2 {
   color: blueviolet;
   font-family: "Avenir Next";
    
}

table {
  border-collapse:collapse;

}

table th, table td {
  border: solid 1px black;

}

   






































































































































































   


}

